@import "bootstrap/scss/bootstrap";

@import "variables";

//poate sa downloadez fonturile?
body {
    font-family: "Poppins", sans-serif;
}

//welcome page

.difference-text {
    position: relative;
    padding-top: 20px;
}

.difference-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* lungimea bordurii */
    height: 6px; /* grosimea bordurii */
    background-color: $primary-color; /* albastrul dorit */
    border-radius: 4px; /* rotunjire ca în poză */
}

.difference-options {
    background-color: $primary-color;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.difference-options::before {
    content: "";
    position: absolute;
    top: -100px; /* cât de jos intră arcul */
    left: 0;
    width: 100%;
    height: 200px;
    background: white; /* culoarea fundalului exterior */
    border-radius: 0 0 50% 50%;
}

//Donate page
.donate-header-row {
    background-color: #dba50f;
    color: white;
    text-align: center;
}

.donate-subheader-row {
    background-color: $primary-color;
    text-align: center;
    font-size: 1.2rem;
}
