@import "bootstrap/scss/bootstrap";

@import "variables";

//poate sa downloadez fonturile?
body {
    font-family: "Poppins", sans-serif;
}

//welcome page

.difference-text {
    position: relative;
    padding-top: 20px;
}

.difference-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* lungimea bordurii */
    height: 6px; /* grosimea bordurii */
    background-color: $primary-color; /* albastrul dorit */
    border-radius: 4px; /* rotunjire ca în poză */
}

.difference-options {
    background-color: $primary-color;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.difference-options::before {
    content: "";
    position: absolute;
    top: -100px; /* cât de jos intră arcul */
    left: 0;
    width: 100%;
    height: 200px;
    background: white; /* culoarea fundalului exterior */
    border-radius: 0 0 50% 50%;
}

//Donate page

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap
<hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS for featurettes
-------------------------------------------------- */

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

///FEATURES
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
