@import "bootstrap/scss/bootstrap";

//poate sa downloadez fonturile?
body {
    font-family: "Poppins", sans-serif;
}

.difference-row {
    background-color: aqua;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.difference-row::before {
    content: "";
    position: absolute;
    top: -100px; /* cât de jos intră arcul */
    left: 0;
    width: 100%;
    height: 200px;
    background: white; /* culoarea fundalului exterior */
    border-radius: 0 0 50% 50%;
}

//Donate page
.donate-header-row {
    background-color: #dba50f;
    color: white;
    text-align: center;
}

.donate-subheader-row {
    background-color: aqua;
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d;
}
